body{
	margin: 0;
}
.container{
	position: relative;
	top: 40px;
	text-align: center;
}
.cloud-left{
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 50px;
	left: 10%;
	top: 100px;
}
.cloud-right{
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 50px;
	right: 10%;
	top: 100px;
}
.nav{
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 40px;
	background-color: rgb(36, 120, 129);
	top: 0;
}
.slider-header{
	text-align: left;
	position: relative;
	display: block;
	min-height: 30px;
	/*#height: 30px;*/
	background-color: rgb(48, 170, 221);
}
.slider-container{
	background-color: rgb(67, 145, 155);
	position: relative;
	display: block;
	width: 100%;
	height: 500px;
	align-content: center;
}
.slide-text{
	position: relative;
	display: block;
	height: 100px;
	width: 100%;
	display: none;
}
.slideshow{
	position: relative;
	margin: auto;
	width: 45%;
	height: 400px;
	display: block;

}
img{
	width: 100%;
	height: 400px;
}
.slides{
	margin-top: 0;
	margin: auto;
	width: 93%;
	height: 400px;
	display: none;
}
.slider-dots{
	position: relative;
	height: 50px;
	background-color: rgb(67, 145, 155);
	text-align: center;
	width: 100%;
	vertical-align: middle;
}
.dots{
	margin: auto;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: rgb(0, 255, 198);

}
.dots:hover{
	background-color: rgb(50, 50, 150);
}
.active{
	background-color: rgb(50, 50, 150);
}
.left-button{
	position: absolute;
	background-color: rgb(0, 0, 0);
	left: 2%;
	display: inline-block;
	width: 15px;
	height: 20px;;
	top: 50%;
	z-index: 5;
}
.right-button{
	position: absolute;
	background-color: rgb(0, 0, 0);
	right: 2%;
	display: inline-block;
	width: 15px;
	height: 20px;
	top: 50%;
	z-index: 5;
}